.body {
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  width: 1440px;
  height: 100vh;
  overflow: hidden;
  background-color: #fff;

  >div:first-of-type {
    position: relative;
    height: 100vh;
    width: 50%;

    >img:first-of-type {
      object-fit: cover;
      height: 100vh;
      width: 100%;
    }

    >img:nth-of-type(2) {
      top: 7%;
      position: absolute;
      height: 4em;
      left: 50%;
      transform: translateX(-50%);
    }
  }

  >div:nth-of-type(2) {
    transform: translateY(-8%);
    display: flex;
    margin-inline: auto;
    flex-direction: column;
    width: 35%;
    scale: .8;

    >p:first-of-type {
      /* Rubik/36px */
      color: rgb(35, 35, 33);
      font-family: Rubik;
      font-size: 36px;
      font-weight: 600;
      line-height: 43px;
      letter-spacing: 0%;
      text-align: left;
      margin-bottom: 8px;
    }

    >p:nth-of-type(2) {
      /* Open Sans/Semibold/20px */
      color: rgb(35, 35, 33);
      font-family: Open Sans;
      font-size: 20px;
      font-weight: 600;
      line-height: 27px;
      letter-spacing: 0%;
      text-align: left;
    }

    >span:first-of-type {
      display: flex;
      flex-direction: row;
      flex-wrap: nowrap;
      margin-block: 24px;
      gap: 24px;

      >button {
        flex: 1;
        box-sizing: border-box;
        background-color: #fff;
        align-self: stretch;
        padding: 8px 12px 8px 12px;
        border: 1px solid rgb(35, 35, 33);
        border-radius: 12px;
        transition: .5s ease-in-out;

        &:hover {
          background-color: #efefef;
        }
      }
    }

    >p:nth-of-type(3) {
      /* Open Sans/Semibold/20px */
      color: rgb(35, 35, 33);
      font-family: Open Sans;
      font-size: 20px;
      font-weight: 600;
      line-height: 27px;
      letter-spacing: 0%;
      text-align: left;
      margin-bottom: 10px;
    }

    >p:nth-of-type(4),
    >p:nth-of-type(5) {
      /* Rubik/24px */
      color: rgb(35, 35, 33);
      font-family: Rubik;
      font-size: 24px;
      font-weight: 600;
      line-height: 28px;
      letter-spacing: 0%;
      text-align: left;
      margin-block: 14px 10px;
    }

    >input {
      margin-block: 10px;
    }

    >input:last-of-type {
      margin-block: 10px 4px;
    }

    >input {
      color: rgb(35, 35, 33);
      font-family: Inter;
      font-size: 16px;
      font-weight: 400;
      line-height: 19px;
      letter-spacing: 0.5px;
      text-align: left;

      background-color: #fff;
      padding: 10px 16px 10px 16px;
      box-sizing: border-box;
      /* Dark Gray */
      border: 1px solid rgb(35, 35, 33);
      border-radius: 8px;
      transition: .3s ease-in-out;

      &:focus {
        background-color: #efefef;
      }
    }

    >p:nth-of-type(6) {
      color: rgb(54, 50, 59);
      font-family: Inter;
      font-size: 12px;
      font-weight: 400;
      line-height: 15px;
      letter-spacing: 0.4px;
      text-align: left;
      margin-bottom: 12px;
    }

    >span {
      display: flex;
      flex-direction: row;
      gap: 8px;
      margin-block: 12px;

      >p {
        /* Open Sans/Semibold/16px */
        color: rgb(35, 35, 33);
        font-family: Open Sans;
        font-size: 16px;
        font-weight: 600;
        line-height: 22px;
        letter-spacing: 0%;
        text-align: left;
      }
    }

    >a>button {
      margin-top: 12px;
      padding: 16px 32px 16px 32px;
width: max-content;
      color: rgb(255, 255, 255);
      font-family: Rubik;
      font-size: 14px;
      font-weight: 500;
      line-height: 17px;
      letter-spacing: 0.25px;
      text-align: left;
      text-transform: uppercase;
    }
  }
}